main{
    margin: 0 auto;
    width: 60%;
    height: 500px;
    background-image: url("../img/fly.jpg");
    background-size: cover;
    padding: 100px 550px 40px 100px;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: tomato;
    
}